html, body {
  margin: 0px;
  padding: 0px;
  background-color: #201a28;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  margin: 0px;
  padding: 0px;
}

img {
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.buttonmenu {
  position: absolute;
  width: 100%;
  top: 600px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #393341;
  color: #ecf0f1;
  text-align: center;
  box-sizing: border-box;

  width: 300px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  cursor: default;
}

.button:hover {
  background-color: #5A5167;
}

#loginscreen {
  width: 100%;
  height: 100%;
  background-image: url(/static/images/findgamescreen.jpg);
  background-position: center 30px;
  background-repeat: no-repeat;
}

#pickscreen {
  display: none;
  width: 100%;
}

#characterselect {
  width: 789px;
  margin-left: auto;
  margin-right: auto;
}

#gamescreen {
  display: none;
}
