<html>
    <head>
        <title>Trash Waifu!</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script src="/static/js/pathfinding.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>
        <script src="/static/js/pixi.min.js"></script>
        <script src="/static/js/util.js"></script>
        <script src="/static/js/animation.js"></script>
        <script src="/static/js/game.js"></script>
        <script src="/static/js/objects.js"></script>
        <script src="/static/js/uievents.js"></script>
    </head>
    <body>
      <div id="loginscreen" onload="playSound('waifu_faito.mp3')">
        <div class="buttonmenu">
          <div class="button" onclick="loginWithName()">LOGIN</div>
          <div class="button" id="joinbutton">JOIN GAME</div>
        </div>
      </div>
      <div id="pickscreen">
        <div id="characterselect">
          <img src="/static/images/Ray.png" onmouseover="mouseOverCharacterArt('/static/images/raybig.png')" onclick="pickWaifu('ray', 'ray')" id="ray"></img>
          <img src="/static/images/bleaku.png" onmouseover="mouseOverCharacterArt('/static/images/bleakubig.png')" onclick="pickWaifu('bleaku', 'bleaku')" id="bleaku"></img>
          <img src="/static/images/dontno.png" onmouseover="mouseOverCharacterArt('/static/images/dontnobig.png')" onclick="pickWaifu('dontno', 'dontno')" id="dontno"></img>
          <img src="/static/images/ExConata.png" onmouseover="mouseOverCharacterArt('/static/images/exconatabig.png')" onclick="pickWaifu('exconata', 'exconata')" id="exconata"></img>
          <img src="/static/images/Mayo.png" onmouseover="mouseOverCharacterArt('/static/images/mayobig.png')" onclick="pickWaifu('mayo', 'mayo')" id="mayo"></img>
          <img src="/static/images/Moyuri.png" onmouseover="mouseOverCharacterArt('/static/images/moyuribig.png')" onclick="pickWaifu('moyuri', 'moyuri')" id="moyuri"></img>
          <img src="/static/images/Loise.png" onmouseover="mouseOverCharacterArt('/static/images/louisebig.png')" onclick="pickWaifu('loise', 'loise')" id="loise"></img>
          <img src="/static/images/Stabber.png" onmouseover="mouseOverCharacterArt('/static/images/stabberbig.png')" onclick="pickWaifu('stabber', 'stabber')" id="stabber"></img>
          <img src="/static/images/Winery.png" onmouseover="mouseOverCharacterArt('/static/images/winerybig.png')" onclick="pickWaifu('winery', 'winery')" id="winery"></img>
          <img src="/static/images/RAM.png" onmouseover="mouseOverCharacterArt('/static/images/RAMbig.png')" onclick="pickWaifu('ram', 'ram')" id="ram"></img>
        </div>
        <img id="splash"></img>
      </div>
      <div id="gamescreen">
      </div>
    </body>
    <script src="/static/js/main.js"></script>
</html>
