<html>
    <head>
        <title>Trash Waifu!</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>
        <script src="/static/js/pixi.min.js"></script>
        <script src="/static/js/animation.js"></script>
        <script src="/static/js/objects.js"></script>
        <script src="/static/js/util.js"></script>
        <script src="/static/js/uievents.js"></script>
    </head>
    <body>
      <div id="loginscreen" onload="playSound('waifu_faito.mp3')">
        <div class="buttonmenu">
          <div class="button" onclick="loginWithName()">LOGIN</div>
          <div class="button" onclick="joinGame()">JOIN GAME</div>
        </div>
      </div>
      <div id="gamescreen">
      </div>
    </body>
    <script src="/static/js/main.js"></script>
</html>
