<html>
    <head>
        <title>Trash Waifu!</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>
        <script src="/static/js/pixi.min.js"></script>
        <script src="/static/js/animation.js"></script>
        <script src="/static/js/game.js"></script>
        <script src="/static/js/objects.js"></script>
        <script src="/static/js/spriteloop.js"></script>
        <script src="/static/js/util.js"></script>
        <script src="/static/js/uievents.js"></script>
    </head>
    <body>
        <h1>Trash Waifu!</h1>
        <div class="button" onclick="loginWithName('hi')">Login test button</div>
    </body>
    <script src="/static/js/main.js"></script>
</html>
